body{
    background:  linear-gradient(to bottom left, #013A79ff,#FECE23ff) no-repeat;
}
.form{
    padding: 10px;
}
.admin_form{
    max-width: 400px;
    max-height: 300px;
}
.button{
    /* width: 100%; */
    padding: 10px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 1.0rem;
    background-color: #013A79ff;
    color: white;
    font-weight: bolder;
    font-size: 1.25rem;
}
.fa-house{
    color: #013A79ff;
}
.signUp{
    font-size: 1.25rem;
    color: #013A79ff;
    font-weight: bold;
}
@media screen and (max-width:400px) {
    .admin_form{
        padding: 0px 24px;
    }
}